<html>
    <head>
        main page
    </head>
    <body>
        <h1>hello</h1>
        <style>
            body { background: #c7b39b url(bg.jpg); }
        </style>
        <div>
            <h1><a href="/123">переход</a> </h1>
        </div>
        <div>
            <h1><a href="/456">студенты</a> </h1>
        </div>
        <div>
            <h1><a href="/admin">админка</a> </h1>
        </div>
        <div>
            <h1><a href="/789">загрузка файлов</a> </h1>
        </div>
        <div>
            <h1><a href="/clear1">зачистка интересов</a> </h1>
        </div>
        <div>
            <h1><a href="/clear2">зачистка студентов</a> </h1>
        </div>
    <div>
            <h1><a href="/search">поиск ближайших по интересу</a> </h1>
        </div>
    </body>
</html>