<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Поиск</title>
</head>
<body>
     <style>
            body { background: #f6f6f6; }
        </style>

        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		<a class=" text-dark mr-md-auto " href="/"> Главная страница</a>
		<nav class="my-2 my-md-0 mr-md-3">
			<a class="btn btn-outline-secondary " href="/clear1">Зачистка интересов</a>
			<a class="btn btn-outline-secondary " href="/clear2">Зачистка студентов</a>
		</nav>
		<a class="btn btn-outline-primary" href="/789">Загрузка файлов</a>
	</div>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block  sidebar collapse">
      <div class="sidebar-sticky pt-3">

   <form method="POST" action="create/">
       <div class="form-label-group">

        {% csrf_token %}
        <p>
            <input type="text" name="name" class="form-control" placeholder="введите имя" required="" autofocus="">
        </p>
         <p>
            <input type="text" name="interest" class="form-control" placeholder="введите интерес" required="" autofocus="">
        </p>
        <p>
            <input type="text" name="group" class="form-control" placeholder="введите группу" required="" autofocus="">
        </p>
           <button class="btn btn btn-primary btn-block" type="submit">Сохранить</button> </div>

    </form>
      </div>
    </nav>

    <main role="main" class="col-md-4 ml-sm-auto col-lg-10 px-md-4">

    <h3>Список Студентов </h3>

    <table>
      <div class="table">
        <table class="table table-striped table-sm">
        <style type="text/css">

   TH {
    text-align: left; /* Выравнивание текста по левому краю */
    border-bottom: 1px solid #000; /* Линия под верхним заголовком */
   }
  </style>

        {% for Person in men %}
            <tr>
                <td>
                {{ Person.id }}
                </td>
            </tr>
            <tr>
                <td>
                {{ Person.name }}
                </td>
            </tr>
            <tr>
                <td>
                {% for Interest in  Person.interests.all %}{{  Interest}} {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                {{Person.group  }}
                </td>
            </tr>
            <tr>
                <td>
                <a href="editname/{{Person.id}}" target="_blank" onclick="window.open(this.href,this.target,'width= 300,height=300,scrollbars=1');return false;">Изменить имя</a>|
                    <a href="editgroup/{{Person.id}}"target="_blank" onclick="window.open(this.href,this.target,'width= 300,height=300,scrollbars=1');return false;">Изменить группу</a>
                    |<a href="editinterest/{{Person.id}}"target="_blank" onclick="window.open(this.href,this.target,'width= 300,height=300,scrollbars=1');return false;">Изменить интерес</a> |
                    <a href="delete/{{Person.id}}">Удалить</a>|
                    <a href="addmoreinteres/{{Person.id}}">Добавить еще интерес</a>
                </td>
            </tr>
            <th>

            </th>

        {% endfor %}
    </table>

</div>
</tr>
</table>
    </main>
  </div>
</div>


</body>
</body>
</html>