<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Доп. интерес</title>
</head>
<body>
     <style>
            body { background: #f6f6f6; }
        </style>

        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		<a class=" text-dark mr-md-auto " href="/"> Главная страница</a>
		<nav class="my-2 my-md-0 mr-md-3">
			<a class="btn btn-outline-secondary " href="/clear1">Зачистка интересов</a>
			<a class="btn btn-outline-secondary " href="/clear2">Зачистка студентов</a>
		</nav>
		<a class="btn btn-outline-primary" href="/789">Загрузка файлов</a>
	</div>

<body class="text-center mb-4">
    <div class="col-3 offset-4">

    <h1 class="h3 mb-3 font-weight-normal">Введите дополнительный интерес</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <p>
                <input type="text" name="interest" class="form-control" placeholder="интерес" required="" autofocus="">
        </p>
        <button class="btn btn btn-primary btn-block" type="submit">Сохранить</button> </div>

           </form>


</body>
</body>


</html>