<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Главная страница</title>

    </head>

 <body>
     <style>
            body { background: #efefef ; }
        </style>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <a class=" text-dark mr-md-auto " href="/"> Главная страница</a>
		<nav class="my-2 my-md-0 mr-md-3">
		<!--	 <a class="p-2 text-dark" href="/789">Загрузка файлов</a> -->
			<a class="p-10 text-dark " href="/vkparsing">Адрес страницы вк</a>
			<a class="p-2 text-dark " href="/456">Студенты</a>
		</nav>
		<a class="btn btn-outline-primary" href="/admin">Админ</a>
	</div>


<body class="text-center mb-4">
    <div class="col-3 offset-4">

        <form enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            {{ form }}
        <button class="btn btn btn-primary btn-block" type="submit">Сохранить</button>
        </form></div>

    </body>

    </body>
</html>