<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Студенты</title>

<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		<a class=" text-dark mr-md-auto " href="/"> Главная страница</a>
		<nav class="my-2 my-md-0 mr-md-3">
			<a class="btn btn-outline-secondary " href="/clear1">Зачистка интересов</a>
			<a class="btn btn-outline-secondary " href="/clear2">Зачистка студентов</a>
		</nav>
		<a class="btn btn-outline-primary" href="/789">Загрузка файлов</a>
	</div>

    <main role="main" class="col-md-4 ml-sm col-lg-8 px-md-4">
        <h1 class="h3 mb-3 font-weight-normal"> Список интересов и студентов</h1>

      <div class="table">
        <table class="table table-striped table-sm">
<style type="text/css">

   TH {
    text-align: left; /* Выравнивание текста по левому краю */
    border-bottom: 1px solid #000; /* Линия под верхним заголовком */
   }
  </style>
               {% for Interest in interests  %}

            <tr>
                <td>
                        {{ Interest }}
                </td>
            </tr>

            <tr>
                <td>
                 <br>{%  for Person in Interest.person_set.all %}{{Person}}</br>{% endfor %}

                </td>
            </tr>



        {% endfor %}
    </table>

</div>
</body>
</html>